.btn {
    background-color: #216869;
    color: #DCE1DE;
    padding: 0.7em 1.2em;
    text-decoration: none;
    transition: 0.5s;
    cursor: pointer;
    border: none;
}

.btn:hover {
    color: #49A078;
}