.project_details {
    padding: 2em;
}

.project_details h1,
.project_details h2,
.project_details p {
    margin-bottom: 0.5em;
}

.project_details h1 {
    color: #216869;
}

.project_details span {
    font-weight: bold;
}

.details_container,
.service_form_container {
    border-bottom: 1px solid #000000;
    margin-bottom: 1.2em;
    padding-bottom: 1.2em;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.btn {
    background-color: #DCE1DE;
    color: #216869;
    padding: 0.5em 1em;
    font-size: 1.5em;
    text-decoration: none;
    border-style: dashed;
    border-radius: 10px;
    border-color: #216869;
    transition: 0.5s;
    cursor: pointer;
    max-height: 40px;
    display: flex;
    align-items: center;
}

.btn:hover {
    color: #49A078;
}

.project_info {
    width: 100%;
}