.btn {
    color: #216869;
    padding: 0.5em 1em;
    font-size: 1.5em;
    text-decoration: none;
    border-style: dashed;
    border-radius: 10px;
    border-color: #216869;
    transition: 0.5s;
}

.btn:hover {
    color: #49A078;
}