.navbar {
    display: flex;
    justify-content: space-between;
    background-color: #216869;
    padding: 1em;
}

.list {
    display: flex;
    list-style: none;
    align-items: center;
}

.item {
    margin-right: 1em;
}

.item a {
    color: #49a078;
    text-decoration: none;
}

.item a:hover {
    color: #dce1de;
}